export main{
  height: calc(100vh - 113.4px);
  width: 100%;
  &#login{
    article:last-child{
     background-image: url('../images/login/log-in-img.jpg');
      background-size: cover;
      background-position: center;
    }
  }
  &#register{
    article:last-child{
    background-image: url('../images/login/register-img.jpg');
      background-size: cover;
      background-position: center;
    }
    .group{
      margin-bottom: 25px;
    }
  }
  section{
    display: flex;
    height: 100%;
    article{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.header-container{
  position: static;
  .filter-background{
    background: none;
  }
  nav{
    ul{
      li{
        color: black;
        a{
          text-shadow: none;
        }
      }
    }
  }
}

.header{
  margin-bottom: 20px;
  h1{
    font-size: 1.9rem;
    font-weight: bold;
    color: #106666;
    margin-bottom: 30px;
  }
  h4{
    font-family: "Neue Plak", sans-serif;
    font-weight: 200;
    margin-bottom: 60px;
  }
  a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }
}

.group {
  margin-bottom: 45px;
  &.new{
    p{
      font-size: 1rem;
      font-weight: 200;
      margin-bottom: 20px;
      text-align: center;
      a{
        color: #169D9D;
      }

    }
  }
  &.forgot{
    margin-top: -20px;
    p{
      font-size: 1rem;
      font-weight: 200;
      margin-bottom: 20px;
      text-align: right;
      a{
       text-decoration: underline;

      }

    }
  }
}

.new{
  p{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 20px;
    a{
      color: #169D9D;
      font-size: 1rem;
      font-weight: 200;
    }

  }
}

.warn{
  font-size: 0.90rem;
  font-weight: 200;
  text-align: center;
}

label{
  margin-left: 15px;
}

input {
  font-size: 18px;
  padding: 15px;
  -webkit-appearance: none;
  display: block;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 10px;
  border:1px solid #169D9D;
  margin-top: 10px;
}

input:focus {
  outline: none;
}



/* Error Label */

.errorlabel {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #ff0000;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ff0000;
}

/* active */



/* Underline */




/* Button */

.button {
  display: inline-block;
  padding: 12px 24px;
  margin: 0.3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.15s ease;
}

.button:focus {
  outline: 0;
}

/* Button modifiers */

.buttonGreen {
  background: #093A3A;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, 0.5);
}

.buttonGreen:hover {
  background: #0f5f5f;
}

.signIn-signUp-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#app{
  display: none;
}
