// import police title (Retroica)
@font-face {
  font-family: "Retroica";
  src: url(../fonts/Retroica/Retroica.ttf);
  font-weight: 400;
  font-style: normal;
}

// Import police title (Neue Plak)
@font-face {
  font-family: "Neue Plak";
  src: url(../fonts/NeuePlak/NeuePlakRegular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Neue Plak";
  src: url(../fonts/NeuePlak/NeuePlakBold.ttf);
  font-weight: 800;
  font-style: normal;
}

