// import police title (SF Display)
@font-face {
  font-family: "SF Display";
  src: url(https://adoublesens.s3.eu-west-3.amazonaws.com/fonts/SF-Pro-Display-Light.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Display";
  src: url(https://adoublesens.s3.eu-west-3.amazonaws.com/fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Display";
  src: url(https://adoublesens.s3.eu-west-3.amazonaws.com/fonts/SF-Pro-Display-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

// Import police title (SF Text)
@font-face {
  font-family: "SF Text";
  src: url(https://adoublesens.s3.eu-west-3.amazonaws.com/fonts/SF-Pro-Text-Light.otf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(https://adoublesens.s3.eu-west-3.amazonaws.com/fonts/SF-Pro-Text-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(https://adoublesens.s3.eu-west-3.amazonaws.com/fonts/SF-Pro-Text-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(https://adoublesens.s3.eu-west-3.amazonaws.com/fonts/SF-Pro-Text-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
