body {
  width: 100%;
  font-family: "Neue Plak", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f9f9f9;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "copacanaba", sans-serif;
  }
}

main {
  background: white;
  .home-container {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/images/imgBackground/home-background.webp);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 7rem;

    article {
      max-width: 60vw;
      margin-top: 10rem;

      h2 {
        width: 55vw;
        font-size: 60px;
        color: white;
      }

      p {
        max-width: 30vw;
        font-family: "Neue Plak", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 1.5rem;
      }

      button {
        font-family: "Neue Plak", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: #093a3a;
        background: #bcf6f6;
        border-radius: 20px;
        padding: 0.4rem 2.5rem;
      }
    }
  }

  .who-are-we {
    height: 183vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 1)
      ),
      url("../images/imgBackground/section-background.webp");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;

    .we-engage {
      display: flex;
      position: relative;
      margin-top: 6rem;
      img {
        width: 45vw;
        height: 60vh;
        object-position: 50% 40%;
        border-radius: 1.5rem;
        object-fit: cover;
        margin: 5rem 0 5rem 5rem;
      }

      .we-engage-content {
        margin: 5rem;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h2 {
          position: absolute;
          top: 20vh;
          left: 40.5vw;
          width: 54vw;
        }
        p {
          font-family: "Neue Plak";
          font-style: normal;
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1.8rem;
          text-align: justify;
          color: #000000;
        }
        button {
          background: #093a3a;
          border-radius: 20px;
          font-family: "Retroica";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 36px;
          margin-top: 2rem;
          width: 14rem;
          height: 3rem;
          color: white;
        }
      }
    }
    .explainer-container {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        width: 41vw;
        text-align: center;
      }
      .explainer-preview-container {
        position: relative;
        .explainer-preview {
          width: 65vw;
          height: 65vh;
          object-fit: cover;
          border-radius: 1rem;
        }
        .explainer-preview-play-icon {
          position: absolute;
          top: 33%;
          left: 41%;
        }
      }
    }
  }
  .testimony-users-container {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      width: 50vw;
      text-align: center;
      margin-bottom: 0;
    }
    article {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding-left: 5rem;
      align-items: center;
      #testimony-globe {
        position: relative;
        .testimony-content-container {
          width: max-content;
          max-width: 40vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          left: 15vw;
          height: 100vh;
          top: 0vh;
          h3 {
            font-family: "Neue Plak";
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 43px;
            text-transform: uppercase;
            color: #093a3a;
            margin-bottom: 1rem;
          }
          .testimony-content {
            position: relative;
            p {
              font-family: "Neue Plak";
              font-style: italic;
              font-weight: 400;
              font-size: 24px;
              line-height: 34px;
              text-align: center;
              color: #041b1b;
            }
            img {
              position: absolute;
            }
            .quote-up {
              top: 0;
              left: 0;
            }
            .quote-down {
              bottom: 0;
              right: 0;
            }
          }
          span {
            a {
              font-family: "Neue Plak";
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 33px;
              text-align: center;
              text-decoration-line: underline;
              color: #1cc9c9;
            }
          }
        }
      }
    }
  }
  .statistiques-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #bcf6f6;
    height: 30vh;
    .statistique-content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-family: "Neue Plak";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 39px;
        text-align: center;
        color: #041b1b;
        margin-top: 1rem;
      }
    }
  }
  .blog-news-container {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
    }
    .gallery {
      width: 100%;
      &-cell {
        width: 40%;
        margin-right: 10px;
        &-content {
          max-width: 500px;
          margin: 69px auto 0 auto;
          border: 1px solid blue;
          text-align: center;
          &-image {
            position: relative;
            display: flex;
            justify-content: center;
            &-container {
              position: absolute;
              bottom: -69px;
              width: 139px;
              height: 139px;
              border-radius: 50%;
              overflow: hidden;
              justify-content: center;
              display: flex;
              align-items: center;
              border: 8px solid blue;
              picture {
                height: 100%;
                img {
                  height: 100%;
                }
              }
            }
          }
          &-name {
            margin: 77px 0 1rem 0;
            line-height: 1.1rem;
          }
          &-quote {
            margin: 0 10% 30px 10%;
            line-height: 1.1rem;
          }
        }
      }
    }
  }
}
