body {
  width: 100%;
  height: 100vh;
  font-family: "SF Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  &::-webkit-scrollbar {
    display: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "SF Display", sans-serif;
    letter-spacing: 3px;
  }

  .main-header-container {
    background-image: url("../images/headerBackground.svg");
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    article {
      position: relative;
    }
    .header-background-filter {
      position: absolute;
      height: 100vh;
      width: 100vw;
      background-color: rgba(35, 2, 46, 0.4);
      pointer-events: none;
    }
    .main-nav-container {
      height: 25%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 3rem;
      .logo-container {
        .logo {
          img {
            height: 7.25rem;
          }
        }
      }
      .nav-container {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          li {
            font-family: "Retroica";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 36px;
            color: #ffffff;
            margin-right: 2rem;
            text-transform: uppercase;
            &.profil {
              background-color: #beaee2;
              padding: 0.3rem 2rem;
              border-radius: 20px;
            }
          }
        }
      }
    }
    .main-title-container {
      height: 55%;
      display: flex;
      justify-content: center;
      padding: 3rem 0;
      .title-container {
        font-family: "Retroica";
        font-style: normal;
        font-weight: 400;
        font-size: 96px;
        line-height: 96px;
        text-transform: uppercase;
        color: rgba(249, 249, 249, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
          width: 100vw;
          .title-underline {
            text-decoration: underline;
            text-underline-position: from-font;
          }
        }
        p:first-child {
          padding-left: 10%;
        }
        p:nth-child(2) {
          padding-left: 30%;
        }
      }
    }
    .scroll-down-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20%;
    }
  }
}
