main#edit-container,
main#add-container {
  > section {
    &:first-child {
      height: 50vh;
      width: 100%;
      background-color: #093a3a;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      text-align: center;
      h1 {
        color: #fff;
        font-size: 4rem;
      }
    }
    &:last-child{
        width: 70%;
        margin: 0 auto;
    }
  }
  section div#edit,
  section div#add {
    display: flex;
    flex-direction: column;
    padding: 20px;
    input,
    textarea,
    select,
    .codex-editor {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      background-color: white;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-size: 1.2rem;
      font-weight: bold;
    }

    input,
    textarea,
    select,
    .codex-editor,
    #display-image {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.2rem;
    }

    button#edit-button,
    button#save-button {
      background-color: #093a3a;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        background-color: #fff;
        color: #093a3a;
      }
    }
    @media screen and (max-width: 710px) {
      padding: 0;
    }
  }
  #display-image {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-color: #fff;
  }
}